*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    background: url(wallpaperuse.com-wallpaper-azul-911328.jpg);
}

.head {
    align-items: center;
    justify-content: space-between;
    background: #000;
    /* position fixed evita que funcione el scroll */
    position: static;
    width: 100%;
    z-index: 100;
}

.navbar {
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #76cbff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #76cbff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s;
}

.navbar a:hover {
    background: url(wallpaperuse.com-wallpaper-azul-911328.jpg);
    font-size: 25px;
    color: black;
    transition: 0.5s;
    font-weight: bold;
    text-decoration: underline;
}

.header {
    display: flex;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: #595fff;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #595fff;
}

p {
        margin-bottom: 40px;
        font-size: 18px;
        color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #000000;
    color: #fff;
    text-decoration: none;
    background: #000000;
}

.btn:hover {
    background: #595fff;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0px 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #000;
}

